* {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
}

body {
    width: 90%;
    margin: 0 auto;
    background: hsl(180, 8%, 12%);
}

.imgCarousel {
    height: 300px;
}

.main__itemsSelectedBar {
    border-radius: 0 0 50px 50px;
}

.main__itemsSelectedBar__clear-button {
    border-radius: 0 0 15px 0;
}

.contact {
    border-radius: 0 0 10px 0;
}

.main__joberList h5,
.main__joberList p,
.main__joberList span {
    font-size: .8rem;
}

.new {
    background-color: var(--bs-info);
    border-radius: 8px;
}

.featured {
    background-color: var(--bs-dark);
    border-radius: 8px;
}

.jobCard {
    border-left: 4px solid hsl(180, 14%, 20%);
    border-radius: 10px 5px 5px 10px;
}

.role,
.level,
.languages {
    border: 1px solid hsl(180, 14%, 20%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(227, 44%, 22%);
}

.attribution a {
    color: hsl(229, 13%, 34%);
}