* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    --var-color-rad-blue: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

body {
    background: black;
}

.container {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)) no-repeat;
    margin: 25px 120px 0 120px;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container__scores {
    border: 4px solid hsla(217, 16%, 45%, 0.39);
    border-radius: 15px;
    width: 80vmin;
    height: 160px;
    padding: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__scores__left-side {
    /* border: 1px solid wheat; */
    color: white;
    line-height: 160%;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.container__scores__right-side {
    border: 1px solid wheat;
    background: white;
    height: 110px;
    width: 150px;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    text-transform: uppercase;
    color: hsl(229, 64%, 46%);
    font-weight: 400;
}

.result {
    font-size: 4rem;
    color: hsl(229, 25%, 31%);
}

.container__board {
    /* border: 1px solid wheat; */
    background: url("/images/bg-triangle.svg") no-repeat center;
    width: 80vmin;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 120px 0 120px;
}

.container__board__circle {
    width: 190px;
    height: 190px;
    border-radius: 95px;
    margin: 0 40px 0 40px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-blue {
    border: 25px solid rgb(27, 27, 221);
    box-shadow: 6px 6px 2px rgb(224, 192, 132) inset, 6px 6px rgb(2, 2, 161), 0 0 30px hsl(237, 49%, 15%);
}

.circle-yellow {
    border: 25px solid rgb(235, 150, 53);
    box-shadow: 6px 6px 2px rgb(224, 192, 132) inset, 6px 6px rgb(204, 111, 5), 0 0 30px hsl(237, 49%, 15%);
    ;
}

.circle-red {
    border: 25px solid rgb(253, 77, 65);
    box-shadow: 6px 6px 2px rgb(224, 192, 132) inset, 6px 6px rgb(168, 1, 1), 0 0 30px hsl(237, 49%, 15%);
    ;
}

.icon {
    width: 60px;
}

.container__board__circle:hover {
    background-color: rgb(224, 192, 132);
    box-shadow: 3px 3px 2px rgb(168, 138, 83) inset, 0 0 10px hsl(237, 49%, 15%);
    transition: .5s;
}

.container__board__circle:hover .icon {
    transform: scale(.9);
    transition: .5s;
}

.container__rules {
    align-self: flex-end;
    margin-right: 30px;
}

.rules {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid hsla(217, 16%, 45%, 0.39);
    text-transform: uppercase;
}

.rules a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.rules:hover {
    background: white;
    transition: .5s;
}

.rules a:hover {
    color: hsl(237, 49%, 15%);
    transition: .3s;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}